{% extends 'pages/_base.html' %}
{% load static %}

{% block title %}Pur Beurre - Catégories {% endblock title %}

{% block content %}

<section class="page-section bg-primary">
    <div class="container">



        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="row p-4">
                    <h3 class="text-white">Les catégories</h3>
                </div>
                 <ul class="list-group list-group-flush">
                    {% for category in categories %}
                    <li class="list-group-item list-group-item-light pb-3"><a 
                            href="{% url 'category' category.pk %}"><strong>{{ category }}</strong></a> -
                        ({{ category.product_set.count }} produits)
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-2"></div>
        </div>
        <br>
        <!-- Navigate-->
        {% include "pages/navigate.html" %}

    </div>
</section>

{% endblock %}